PersconWCFClient/Connected Services/PersonService/PersonServcie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51834/PersonServcie.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoService" />
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetPersonResult" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="newPerson" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Persons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="PersonsResult" nillable="true" type="q3:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>